.wrapper {
  width: 100%;
  height: 100%;
}


.App {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: .8px;
  margin-bottom: 10px;
}

.border-top {
  width: 80%;
  max-width: 380px;
  height: 1px;
  background-color: black;
}

.container-conversion {
  margin-top: 60px;
}

.conversions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.exchange {
  background-image: url("./img/exchange-arrows.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  margin: 15px 0 15px 0;
  cursor: pointer;
}

.currency-from,
.currency-to {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.choose-currency-container {
  position: relative;
  width: 100px;
}

.choose-currency {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  border: 1px solid #383638;
  border-right: none;
  border-radius: 10px 0 0 10px;
  cursor: pointer;
}

.choose-currency span {
  margin: 0 auto 0 10px;
}

.arrow-choose {
  background-image: url("./img/arrow-choose.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 10px;
  height: 10px;
  margin: 0 10px 0 10px;
}

.arrow-choose.active {
  transform: rotate(180deg)
}

.result-value {
  height: 45px;
  width: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  border-radius: 0 10px 10px 0;
}

.type-value input {
  width: 80%;
  height: 70%;
  float: left;
  border: none;
  text-align: right;
  padding-right: 10px;
  font-size: 16px;
}

.change-value-buttons {
  flex-grow: 1;
  text-align: center;
}

.increase-value,
.decrease-value {
  height: 22.5px;
  border-radius: 0 10px 0 0;
  line-height: 22.5px;
  cursor: pointer;
}

.decrease-value {
  border-radius: 0 0 10px 0;
}

.result-table {
  display: inline-block;
  text-align: center;
  line-height: 45px;
}

.submit {
  margin: 75px auto 0 auto;
  width: 60%;
}

.button {
  -moz-box-shadow: 0px 0px 0px 3px #6e6e6e;
  -webkit-box-shadow: 0px 0px 0px 3px #6e6e6e;
  box-shadow: 0px 0px 0px 3px #6e6e6e;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d3a3d), color-stop(1, #383638));
  background: -moz-linear-gradient(top, #3d3a3d 5%, #383638 100%);
  background: -webkit-linear-gradient(top, #3d3a3d 5%, #383638 100%);
  background: -o-linear-gradient(top, #3d3a3d 5%, #383638 100%);
  background: -ms-linear-gradient(top, #3d3a3d 5%, #383638 100%);
  background: linear-gradient(to bottom, #3d3a3d 5%, #383638 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d3a3d', endColorstr='#383638', GradientType=0);
  background-color: #3d3a3d;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  border: 1px solid #45474f;
  display: inline-block;
  cursor: pointer;
  color: #e0d7e0;
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  padding: 13px 0;
  text-decoration: none;
  width: 100%;
}

.button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #383638), color-stop(1, #3d3a3d));
  background: -moz-linear-gradient(top, #383638 5%, #3d3a3d 100%);
  background: -webkit-linear-gradient(top, #383638 5%, #3d3a3d 100%);
  background: -o-linear-gradient(top, #383638 5%, #3d3a3d 100%);
  background: -ms-linear-gradient(top, #383638 5%, #3d3a3d 100%);
  background: linear-gradient(to bottom, #383638 5%, #3d3a3d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#383638', endColorstr='#3d3a3d', GradientType=0);
  background-color: #383638;
}

.button:active {
  position: relative;
  top: 1px;
}


.border-bottom {
  width: 75%;
  height: 1px;
  background-color: black;
  margin: 25px 0 35px 0;
}

.border-bottom-result {
  width: 30%;
  height: 1px;
  background-color: black;
  margin: 5px auto
}

@media (max-width: 199px) {
  .choose-currency-container {
    margin-bottom: 15px;
    width: 80%;
  }

  .choose-currency {
    border-right: 1px solid black;
    border-radius: 10px;
  }

  .currency-to {
    width: 100%;
  }

  .result-value {
    border-radius: 10px;
    width: 70%;
  }
}

@media (min-width: 400px) {

  .choose-currency-container {

    width: 125px
  }

  .choose-currency {
    height: 55px;
  }

  /* .currency-to {
    width: 100%;
  } */

  .result-value {
    width: 150px;
    height: 55px;
  }

  .result-table {
    line-height: 55px;
  }

  .increase-value,
  .decrease-value {
    height: 27.5px;
    line-height: 27.5px;
  }

  .submit {
    margin: 60px 20px 0 auto;
    width: 50%;
  }

  .border-bottom {
    width: 60%;
  }
}

@media (min-width: 600px) {

  .choose-currency-container {

    width: 125px
  }

  .choose-currency {
    height: 55px;
  }

  /* .currency-to {
    width: 100%;
  } */

  .result-value {
    width: 225px;
    height: 55px;
  }
}